/* body {
    background: yellow;
    font-size: 20px;
} */

/* 05 */

p {
    font-size: 12px;
}

#intro {
    font-size: 30px;
}

.class {
    background: white;
}

/* 06 */

.bg-page {
    background: #00ff00;
}

.bg-element {
    background: #acacac;
}

.bg-element-alpha {
    background: rgba(123, 39, 200, 0.5);
}

/* 07 */

html {
    height: 100%;
}

.image-bg {
    background: url('./img/external-content.duckduckgo.com.jpeg') center no-repeat;
    /* background: url('./img/external-content.duckduckgo.com.jpeg') bottom right repeat-y; */
    /* background: url('./img/external-content.duckduckgo.com.jpeg') center repeat-x; */
    /* background: url('./img/external-content.duckduckgo.com.jpeg'); */
}

/* 08 */

.font-01 {
    font-size: 30px;
}

.font-02 {
    color: #00ff00;
}

.font-03 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color: #acacac;
}

.font-page {
    font-family: Arial, Helvetica, sans-serif;
}

/* 09 */

.spacing {
    letter-spacing: 20px;
}

.wordspacing {
    word-spacing: 40px;
}

.textalign {
    text-align: center;
}

.textdeco {
    text-decoration: overline;
}

.textident {
    text-indent: 40%;
}

.texttrans {
    text-transform: uppercase;
}

/* 10 */

.border01 {
    border:1px solid black;
}

.border02 {
    border-style: dotted;
    border-width: 3px;
    border-color: wheat;
}

.border-none {
    border: none;
}

.border-upper-bottom {
    border-bottom: 10px dashed green;
    border-top: 5px solid green;
}

.border-left-right {
    border-right: 10px solid black;
    border-left: 5px solid black;
}

/* 11 */

.aux {
    float: left;
    display: block;
    width: 120px;
    height: 120px;
}

.margin-01 {
    margin: 10px;
}

.margin-02 {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.padding-01 {
    padding: 10px;
}

.padding-02 {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* 12 */

.list {
    /* list-style-image: none;
    list-style-position: inside; */

    list-style-type: katakana;
}

/* 13 */

.ul-13 {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    background: lightgrey;
    width: 850;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8px;
    padding-bottom: 8px;
}

.ul-13 > li {
    /* float: left; */
    display: inline;
    margin: 8px;
    margin-left: 0px;
    margin-right: 0px;
}

.ul-13 a {
    color: black    ;
    text-decoration: none;
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
}

.ul-13 a:hover {
    background: grey;
    text-decoration: underline;
}

.ul-13 a:active {
    background: red;
}

.ul-13 a:visited {
    color: yellow;
}

/* 14 */

.table-14 {
    width: 50%;
    border-collapse: collapse;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}

.table-14 td {
    border: 1px solid black;
    padding: 10px;
}

.table-14 tr:hover {
    background: blue;
}

.table-14 .trPar {
    background: green;
}

.table-14 thead tr:hover {
    background: none;
    color: black;
}

.table-14 thead tr {
    background: red;
    color: white;
}

/* 15 */

#form-15 {
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid gray;
    padding: 20px;
}

#form-15 label {
    display: block;
}

#form-15 textarea {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 150px;
    border: 1px solid grey;
    border-radius: 10px;
    padding-left: 7px;
}

#form-15 label input {
    width: 350px;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 7px;
}

#form-15 label input:hover {
    border: 3px dashed black;
}

#form-15 textarea:focus {
    border: 3px dashed black;
}

.buttom-15 {
    border-radius: 10px;
    border: 1px solid grey;
    background: blue;
    color: white;
    padding: 10px;
}

.buttom-15:hover {
    background: black;
}
/* 16 */ 

#divEx p::first-letter {
    font-size: 25px;
}

#divEx p::first-line {
    text-decoration: underline;
}

#divEx p:first-child {
    background: yellow;
}

#divEx p:last-child {
    background: red;
    color: white;
}

#divEx p:nth-child(2) {
    background: green;
    color: whit;
}

/* 17 */

.class-01, .class-02 {
    background: yellow;
    width: 150px;
    height: 150px;
    float: left;
    display: block;
    border: 1px solid black;
    margin: 8px;
}

.class-02 {
    background: grey;
}

.class-01 div {
    font-size: 14px;
}

.class-01 > div {
    font-size: 20px;
}

.class-01 .class-02 {
    background: red;
    color: white;
}