* {
    padding: 0px;
    margin: 0px;
}

@font-face {
    font-family: ubuntuCustom;
    src: url(./../Theory/Ubuntu-Regular.ttf) format("truetype");
}

body {
    background: url(./img/qGdiBnD.jpg);
    font-family: ubuntuCustom;
    font-size: 14px;
    color: black;
}

div {
    display: table;
    width: 100%;
}

/* layout */

.container {
    width: 100%;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}

.container .row {
    display: table;
    width: 100%;
    margin-bottom: 10px;
}

.logo-column {
    width: 270px;
    float: left;
    margin-top: 10px;
}

.menu-column {
    width: 650px;
    float: right;
}

/* menu */

.container-menu {
    background: white;
    box-shadow: 5px 5px 5px black;
    margin-top: 20px;
}

.container-menu a {
    text-decoration: none;
    display: block;
    float: left;
    padding: 16px 20px;
    color: black;
    transition: 
        background 0.5s ease-out,
        color 0.5s ease-out;
}

.container-menu a:hover {
    background: black;
    color: white;
}

.container-menu a:first-child {
    margin-left: 6px;
}

.border-radius {
    border-radius: 8px;
}
