* {
    padding: 0px;
    margin: 0px;
}

@font-face {
    font-family: ubuntuCustom;
    src: url(./../Theory/Ubuntu-Regular.ttf) format("truetype");
}

body {
    background: url(./img/qGdiBnD.jpg);
    font-family: ubuntuCustom;
    font-size: 14px;
    color: black;
}

div {
    display: table;
    width: 100%;
}

p {
    padding-top: 10px;
    padding-bottom: 10px;
}

a:hover {
    color: blue;
    text-decoration: none;
}

/* layout */

.container {
    width: 100%;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}

.container .row {
    display: table;
    width: 100%;
    margin-bottom: 10px;
}

.logo-column {
    width: 270px;
    float: left;
    margin-top: 10px;
}

.menu-column {
    width: 650px;
    float: right;
}

.news-area-column {
    width: 456px;
    margin-left: 12px;
    float: left;
}

.products-area-column {
    width: 456px;
    margin-left: 12px;
    float: left;
}

.product-column01 {
    float: left;
    width: 220px;
}

.product-column02 {
    float: right;
    width: 220px;
}


/* menu */

.container-menu {
    background: white;
    box-shadow: 5px 5px 5px black;
    margin-top: 20px;
}

.container-menu a {
    text-decoration: none;
    display: block;
    float: left;
    padding: 16px 49px;
    color: black;
    transition: 
        background 0.5s ease-out,
        color 0.5s ease-out;   
}

.container-menu a:hover {
    background: black;
    color: white;
}

.container-menu a:first-child {
    margin-left: 15px;
}

.border-radius {
    border-radius: 8px;
}

.title {
    font-size: 23px;
    padding-bottom: 10px;
    border-bottom: 1px dashed white;
}

.e1 {
    margin-bottom: 10px;
}

.gray-bg {
    background: rgba(255, 255, 255, 0.7);
}

.footer {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.initial-icon {
    width: 221px;
    float: left;
    margin: 8px;
}

.initial-icon:first-child {
    margin-left:5px;
}

.initial-icon:last-child {
    margin-right: 0px;
}

.icon, .title-icon {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
/* slider */

#container-slider {
    width: 950px;
    height: 295px;
    overflow: hidden;
    box-shadow: 1px 1px 8px black, -1px -1px 8px black;
    margin-left: auto;
    margin-right: auto;
}

.div-border-white {
    border: 1px solid white;
}

.hover-effect {
    transition: 
        background 0.5s ease-out,
        color 0.5s ease-out;  
}

.hover-effect:hover {
    background: rgba(255, 255, 255, 0.6);
}

.intern-margin {
    margin: 6px;
    width: 97%;
}

.product-placeholder {
    width: 150px;
    height: 150px;
    background: black;
}

.icon-placeholder {
    width: 200px;
    height: 100px;
    background: black;
    margin-left: 5px;
}